-   repo: git://github.com/pre-commit/pre-commit-hooks
    sha: v0.7.1
    hooks:
    - id: check-added-large-files
    - id: check-ast
    - id: check-byte-order-marker
    - id: check-merge-conflict
    - id: debug-statements
    - id: end-of-file-fixer
    - id: fix-encoding-pragma
      args: ['--remove']
    - id: flake8
      additional_dependencies: ["flake8-tuple"]
    - id: trailing-whitespace
      exclude: README.md
