<html lang="en">
    <head>
        <title>PyFormat: Using % and .format() for great good!</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">
        <link href="assets/css/{{ styles["style.scss"] }}" rel="stylesheet">
    </head>
    <body>
        <div id="page">
            <header>
                <h1 id="logo"><b><i>Py</i>Format</b> Using <i>%</i> and <i>.format()</i> for great good!</h1>
            </header>
            <div id="main">
                <section id="teaser">
                    <p>
                        Python has had awesome string formatters for many years but the documentation on them is far too theoretic and technical.
                        With this site we try to show you the most common use-cases covered by the old and new style string formatting API with practical examples.
                    </p>
                    <p>If you want to contribute more examples, feel free to create a pull-request on <a href="https://github.com/ulope/pyformat.info">Github</a>!</p>
                </section>
                <section id="toc">
                    <h2>Table of Contents:</h2>
                    <ol>
                        {% for example in examples %}
                            {% if example.title %}
                                <li><a href="#{{ example.name }}">{{ example.title }}</a></li>
                            {% endif %}
                        {% endfor %}
                    </ol>
                </section>
                <section id="details">
                    {% for example in examples %}
                    <section id="{{ example.name }}" {% if not example.title %}class="continuation"{% endif %}>
                        {% if example.title %}
                            <h2>{{ example.title }}</h2>
                        {% endif %}
                        {% if example.details %}
                            <div class="description">{{ example.details|markdown }}</div>
                            {% if not example.old %}
                                <p class="notice">This operation is not available with old-style formatting.</p>
                            {% endif %}
                        {% endif %}
                        {% if example.setup %}
                        <div class="setup">
                            <h3>Setup</h3>
                            <pre><code>{{ example.setup }}</code></pre>
                        </div>
                        {% endif %}
                        <div class="code">
                            {% if example.old %}
                                <div class="old">
                                    <h3>Old</h3>
                                    <pre><code>{{ example.old}}</code></pre>
                                </div>
                            {% endif %}
                            <div class="new">
                                <h3>New</h3>
                                <pre><code>{{ example.new}}</code></pre>
                            </div>
                        </div>
                        <div class="output">
                            <h3>Output</h3>
                            <pre><code>{{ example.output|lettering }}</code></pre>
                        </div>
                    </section>
                    {% endfor %}
                </section>
            </div>
            <footer>
                <p>Curated by <a href="https://twitter.com/ulope">Ulrich Petri</a> &amp; <a href="https://zerokspot.com/">Horst Gutmann</a>
            </footer>
        </div>
    </body>
</html>
