<!DOCTYPE html>
{% macro render_section(section) -%}
<section id="{{ section.name }}">
    {% if section.title %}<h2>{{ section.title }}</h2>{% endif %}
    {% if section.details %}
    <div class="description">{{ section.details|markdown }}</div>
    {% endif %}
    {% for example in section.examples %}
        {{ render_example(example ) }}
    {% endfor %}
</section>
{%- endmacro %}
{% macro render_example(example) -%}
    <section id="{{ example.name }}" {% if not example.title %}class="continuation"{% endif %}>
        {% if example.title %}
            <h2>{{ example.title }}</h2>
        {% endif %}
        {% if example.details %}
            <div class="description">{{ example.details|markdown }}</div>
            {% if not example.old %}
                <p class="notice">This operation is not available with old-style formatting.</p>
            {% endif %}
        {% endif %}
        {% if example.setup %}
        <div class="setup">
            <h3>Setup</h3>
            {{ example.setup|highlight|safe }}
        </div>
        {% endif %}
        <div class="code">
            {% if example.old %}
                <div class="old">
                    <h3>Old</h3>
                    {{ example.old|highlight|safe }}
                </div>
            {% endif %}
            {% if example.new %}
            <div class="new">
                <h3>New</h3>
                {{ example.new|highlight|safe }}
            </div>
            {% endif %}
        </div>
        {% if example.output %}
        <div class="output">
            <h3>Output</h3>
            <pre><code>{{ example.output|lettering }}</code></pre>
        </div>
        {% endif %}
    </section>
{%- endmacro %}
<html lang="en">
    <head>
        <title>PyFormat: Using % and .format() for great good!</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.1.1/gh-fork-ribbon.min.css" />
        <!--[if lt IE 9]>
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.1.1/gh-fork-ribbon.ie.min.css" />
        <![endif]-->
        <link href="assets/css/{{ styles["style.scss"] }}" rel="stylesheet">
    </head>
    <body>
        <div class="github-fork-ribbon-wrapper right">
            <div class="github-fork-ribbon">
                <a href="https://github.com/ulope/pyformat.info">Contribute on GitHub</a>
            </div>
        </div>
        <div id="page">
            <header>
                <h1 id="logo"><b><i>Py</i>Format</b> Using <i>%</i> and <i>.format()</i> for great good!</h1>
            </header>
            <div id="main">
                <section id="teaser">
                    <p>
                        Python has had awesome string formatters for many years but the documentation on them is far too theoretic and technical.
                        With this site we try to show you the most common use-cases covered by the <a href="https://docs.python.org/2/library/stdtypes.html#string-formatting">old</a> and <a href="https://docs.python.org/3/library/string.html#string-formatting">new</a> style string formatting API with practical examples.
                    </p>
                    <p>
                        All examples on this page work out of the box with with Python 2.7, 3.2, 3.3, 3.4, and 3.5 without requiring any additional libraries.
                    </p>
                    <p>
                        Further details about these two formatting methods can be found in the official Python documentation:
                    </p>
                    <ul>
                        <li><a href="https://docs.python.org/2/library/stdtypes.html#string-formatting">old style</a></li>
                        <li><a href="https://docs.python.org/3/library/string.html#string-formatting">new style</a></li>
                    </ul>
                    <p>If you want to contribute more examples, feel free to create a pull-request on <a href="https://github.com/ulope/pyformat.info">Github</a>!</p>
                </section>
                <section id="toc">
                    <h2>Table of Contents:</h2>
                    <ol>
                        {% for example in examples %}
                            {% if example.title %}
                                <li>
                                    <a href="#{{ example.name }}">{{ example.title }}</a>
                                    {% if example.examples %}
                                    <ol>
                                        {% for e in example.examples %}
                                            <li><a href="#{{ e.name }}">{{ e.title }}</a></li>
                                        {% endfor %}
                                    </ol>
                                    {% endif %}
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ol>
                </section>
                <section id="details">
                    {% for example in examples %}
                        {% if example.examples %}
                        {{ render_section(example) }}
                        {% else %}
                        {{ render_example(example) }}
                        {% endif %}
                    {% endfor %}
                </section>
            </div>
            <footer>
                <p>
                    You might also like <a href="http://strftime.org/">Python strftime reference</a>
                    by <a href="https://twitter.com/mccutchen">Will McCutchen</a>.
                </p>
                <p>
                    Curated by <a href="https://twitter.com/ulope">Ulrich Petri</a> &amp; <a href="https://zerokspot.com/">Horst Gutmann</a><br>
                    Version: <a href="https://github.com/ulope/pyformat.info/tree/{{ version.revid }}">{{ version.revid }}</a> (built at {{ version.datetime }})
                </p>
            </footer>
        </div>

        <!-- Piwik -->
        <script type="text/javascript">
          var _paq = _paq || [];
          _paq.push(['trackPageView']);
          _paq.push(['enableLinkTracking']);
          (function() {
            var u="https://piwik.ulo.pe/piwik/";
            _paq.push(['setTrackerUrl', u+'piwik.php']);
            _paq.push(['setSiteId', 2]);
            var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
            g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
          })();
        </script>
        <noscript><p><img src="//piwik.ulo.pe/piwik/piwik.php?idsite=2" style="border:0;" alt="" /></p></noscript>
        <!-- End Piwik Code -->

    </body>
</html>
