<!doctype html>
<html lang="en">
    <head>
        <title>{% block title %}PyFormat: Using % and .format() for great good!{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.1.1/gh-fork-ribbon.min.css" />
        <!--[if lt IE 9]>
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.1.1/gh-fork-ribbon.ie.min.css" />
        <![endif]-->
        {% for css_file in css_files %}
            <link rel="stylesheet" href="{{ '/static/css/' ~ css_file |url }}">
        {% endfor %}
    </head>
    <body>
        <div class="github-fork-ribbon-wrapper right">
            <div class="github-fork-ribbon">
                <a href="https://github.com/ulope/pyformat.info">Contribute on GitHub</a>
            </div>
        </div>
        <div id="page">
            <header>
                <h1 id="logo"><b><i>Py</i>Format</b> Using <i>%</i> and <i>.format()</i> for great good!</h1>
            </header>
            <div id="main">
                {% block body %}{% endblock %}

{#
                <li{% if this._path == '/' %} class="active"{% endif
          %}><a href="{{ '/'|url }}">Welcome</a></li>
        {% for href, title in [
          ['/projects', 'Projects'],
          ['/about', 'About']
        ] %}
          <li{% if this.is_child_of(href) %} class="active"{% endif
            %}><a href="{{ href|url }}">{{ title }}</a></li>
        {% endfor %}
#}
